:root {
    /* hover color and 'view high scores' */
    --primary-color: rgb(200, 36, 206);
    /* button colors and background of input for name */
    --secondary-color: rgb(48, 13, 82);
}
* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* HEADER start */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    margin: 0 20px;
}
header > * {
    font-size: 1.25rem;
}
header a {
    color: var(--primary-color);
    text-decoration: none;
}
header a:hover {
    color: var(--secondary-color);
}
/* HEADER end */

.page-content {

}

/* HIGH SCORES start */
.high-scores-wrapper {
    background-color: var(--secondary-color);
    width: 25vw;
    margin-left: -999px;
}
.high-score-title {
    color: white;
    font-size: 2rem;
}
/* HIGH SCORES end */

/* MAIN CONTENT AREA start */
.main-content-area {
    margin-right: 100px;
    margin-left: 25vw;
    padding-left: 30px;
}
.btn {
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.05rem;
    border-radius: 5px;
    border: none;
    padding: 8px 17px;
}
.btn:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.main-content-area .btn {
    margin: 3px;
    min-width: 200px;
    max-width: 200px;
}
#ans-btn {
    display: block;
    text-align: left;
}
.response-form {
    color: grey;
    border-top: 2px solid lightgray;
    margin-top: 10px;
    padding-top: 5px;
    font-size: 25px;
    font-style: oblique;
}
/* MAIN CONTENT AREA start */

/* HIGH SCORES start */
.high-score {
    display: block;
    background-color: rgb(48, 13, 82, 0.3);
    min-width: 400px;
    max-width: 400px;
    margin: 10px 0;
    line-height: 1.5;
    padding: 3px;
    padding-left: 10px;
}
.hs-btn {
    width: auto;
}